body{
  margin-left: 20rem;
  margin-right: 10rem;
  

}



 @media (min-width: 320px) and (max-width: 900px) {

body{ 
    width: 100%;
    top: 2%; 
    margin-left: 2rem;
    align-items: center;
    font-size: 10px;
  
  }
  .tranding_buttons{
    size:10%;
    margin-top:0;
  }

 }



